<table class="table-data">
  <tr>
    <td>cover Img Path</td>
    <td>{{detailMovie.backdrop_path}}</td>
  </tr>
  <tr>
    <td>Poster path</td>
    <td>{{detailMovie.poster_path}}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{detailMovie.overview}}</td>
  </tr>
  <tr>
    <td>Language</td>
    <td>{{detailMovie.spoken_languages.name}}</td>
  </tr>
  <tr>
    <td>Popularity</td>
    <td>{{detailMovie.popularity}}</td>
  </tr>
  <tr>
    <td>Release Date:</td>
    <td>{{detailMovie.release_date}}</td>
  </tr>
  <tr>
    <td>Revenue</td>
    <td>{{detailMovie.revenue}}</td>
  </tr>
</table>